<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Resto</title>
    <style>
        body {
            background-image: url("/img/wallpaper.jpg");
            background-size: cover;
        }
    </style>
    <%- include("partials/css") %> 
</head>

<body>
    <div class="jumbotron" style="background-color: rgba(128, 128, 128, 0.8); color: white;">
        <h1 class="display-4">Welcome to Booking Resto!</h1>
        <p class="lead">Website ini dapat membantu anda untuk memesan tempat di restoran</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-primary btn-lg" href="/register" role="button">View Resto</a>
        </p>
    </div>
</body>

</html>